<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/crud/store" method="post">
        {% csrf_token %} 
        <table border="1" cellspacing="0" cellpadding="10" align="center">
            <tr>
                <td>name</td>
                <td><input type="text" name="name" id="name"></td>
            </tr>
            <tr>
                <td>last_name</td>
                <td><input type="text" name="last_name" id="last_name"></td>
            </tr>
            <tr>
                <td>email</td>
                <td><input type="email" name="email" id="email"></td>
            </tr>
            <tr>
                <td>contact</td>
                <td><input type="text" name="contact" id="contact"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="regiser" id="register" value="register"></td>
            </tr>
        </table>
    </form>
</body>
</html>